.choice-box .label {
    -fx-text-fill: white;
}
.choice-box {
    -fx-backgroundcolor: #282c34;
    -fx-focus-color: midnightblue;
    -fx-faint-focus-color: #282c34;
    -fx-control-inner-background: #282c34;
    -fx-selection-bar: "midnightblue";
    -fx-selection-bar-text-fill: "white";
}