.scroll-pane {
    -fx-background-color: #13161d;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}

/**
styling for combobox prompt text and text field
 */
.jfx-combo-box {
    -fx-text-inner-color: orange;

    -fx-prompt-text-fill: #13161d;
    -fx-font: 16px "Arial";
}

.jfx-combo-box .cell {
    -fx-text-fill: white;
    -fx-border-radius: 10;
    -fx-alignment: center;
}

.my-list-cell {
    -fx-text-fill: white;
    -fx-font: 16px "Arial";
    /* No alternate highlighting */
    -fx-background-color:  #282c34;


}